html,body
  margin 0
  padding 0

bg-color = #ddd


body
  --progress -20%
  background bg-color
  font-family: Georgia, sans-serif

// .hero-wrapper
//   background bg-color

.hero:not(.show)
  display none

.hero
  background no-repeat left, no-repeat right, center repeat
  // // background-image url('maze.svg')
  // // background-image url('maze.svg'), linear-gradient(to right, black var(--progress), white, black calc(100% - var(--progress)))
  background-image linear-gradient(to right, bg-color var(--progress), transparent calc(20% + var(--progress))), linear-gradient(to left, bg-color var(--progress), transparent calc(20% + var(--progress))), url('maze.svg')
  background-size 50% auto, 50% auto, auto
  // background-image linear-gradient(to right, bg-color var(--progress), transparent calc(20% + var(--progress)), transparent calc(100% - var(--progress) - 20%), bg-color calc(100% - var(--progress))), url('maze.svg')
  // mask linear-gradient(to right, black var(--progress), white, black calc(100% - var(--progress)), transparent) center
  font-size: 3.5rem
  line-height 1.2em
  text-align center
  vertical-align center